<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="alternate" href="/feed.xml" type="application/atom+xml" title="Atom Feed">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="<%= url_for "/stylesheets/all.css" %>">
    <title><%= page_title %></title>
  </head>
  <body>
    <% unless current_page.data.hide_nav %>
      <nav class="main-nav">
        <a href="/"><span class="arrow">←</span> Home</a>
      </nav>
    <% end %>

    <section id="wrapper"<% unless current_article %> class="home"<% end %>>
      <%= yield %>
      <footer id="footer">
        <p class="small">© <%= config[:site_author] %> <%= Time.now.year %></p>
      </footer>
    </section>

    <% if config[:google_analytics] %>
      <%= component 'google_analytics' %>
    <% end %>
  </body>
</html>
